<article class="rental">
  <Rental::Image 
    src="https://picsum.photos/500"
    alt="A picture of a rental"
  />
  <div class="details">
    <h3>Grand Old Mansion</h3>
    <div class="detail owner">
      <span>Owner:</span> Veruca Salt
    </div>
    <div class="detail type">
      <span>Type:</span> Standalone
    </div>
    <div class="detail location">
      <span>Location:</span> San Francisco
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span> 15
    </div>
  </div>
  <Map 
    @lat="38.5412"
    @lng="-0.1294"
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of the rental"
  />
</article>